<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{https_url_for(request, 'static', fileName='download.css')}}">
    <title>Downloads</title>
</head>

<body>
    {% include 'Header.html' %}
    <div class="wrapper">
        <div class="card">
            <h2>Download Client</h2>
            <hr>
            <div class="downloadLinks">
                <a href="" download="">
                    <h3>Python</h3>
                    <p>Download</p>
                </a>
                <a href="" download="">
                    <h3>.exe</h3>
                    <p>Download</p>
                </a>
                <a href="" download="">
                    <h3>Github</h3>
                    <p>Download</p>
                </a>
                
            </div>
        </div>
        <div class="card">
            <h2>Access Database</h2>
            <hr>
            <form class="Search" id="PrimeNumberSearch" action="{{https_url_for(request, 'SearchPrimeResult')}}" method="post" target="PrimeNumberSearchIF">
                <input type="number" oninput="javascript:(function(o){o.parentElement.submit();}(this))" id="PrimeNumberID" name="PrimeNumberID" placeholder="ID Prime Number" min="1">
                <input type="number" oninput="javascript:(function(o){o.parentElement.submit();}(this))" id="PrimeNumber" name="PrimeNumber" placeholder="Prime Number" min="1">
                <input type="number" oninput="javascript:(function(o){o.parentElement.submit();}(this))" id="WorkUnit" name="WorkUnit" placeholder="Work Unit" min="1">
                <button class="submit" type="submit">→</button>
            </form>
            <iframe tabindex="-1" src="{{https_url_for(request, 'Empty')}}" name="PrimeNumberSearchIF" scrolling="no" class="Invisible" title="Search Results" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));'></iframe>
        </di>
    </form>

</body>

</html>