
    <link rel="stylesheet" type="text/css" href="https://documentation.greensiren.co.uk/ColourScheme">
    <link rel="icon" type="image/x-icon" href="https://documentation.greensiren.co.uk/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{https_url_for(request, 'static', fileName='header.css')}}">
<header>
    <div>
        <h1 id="title">Prime Number Miner</h1>
        <p id="msg">Hello World!</p>
    </div>
    <p id="time"></p>
</header>
        <script type="application/javascript" src="{{https_url_for(request, 'static', fileName='clock.js')}}"></script>