<!DOCTYPE html>
<html lang="en" colourMode="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Prime Number Miner</title>
    <link rel="stylesheet" type="text/css" href="{{https_url_for(request, 'static', fileName='home.css')}}">
    </head>
    <body>
        {% include 'Header.html' %}
        
        <div class="wrapper">
            <div class="card grid-item" id="Intro">
                <h3>We Specialize in Making, Storing and Distributing Prime Numbers</h3>
                <p>Why? Because it's fun.</p>
            </div>
            <a class="card grid-item" id="Web" href="{{https_url_for(request, 'index')}}">
                <h3>Get Started Now!</h3>
                <p>Use our fancy web based client to create primes immediately and easily, no set up required!</p>
            </a>
            <a class="card grid-item" id="Client" href="{{https_url_for(request, 'download')}}">
                <h3>Download the client today!</h3>
                <p>Download the client if you fancy contributing more power to the project.</p>
            </a>
            <a class="card grid-item" id="VisualDB" href="{{https_url_for(request, 'download')}}">
                <h3>See the Data Now!</h3>
                <p>Use our <i>epic</i> data viewer to see all the juicy primes.</p>
            </a>
        </div>
    </body>
</html>