<!DOCTYPE html>
<html colourMode="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{https_url_for(request, 'static', fileName='index.css')}}">
    <title>Prime Number Calculator</title>
</head>

<body>
    {% include 'Header.html' %}

    <div class="wrapper">
        <div id="notice">
            <p><i>Current Work Unit:</i> <span id="workUnit">Loading</span></p>
        </div>
        <ol reversed id="primes" start="1">
            <li>Begin</li>
        </ol>
    </div>

</body>

</html>

<script type="application/javascript" src="{{https_url_for(request, 'static', fileName='main.js')}}"></script>