<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{https_url_for(request, 'static', fileName='header.css')}}">
        <link rel="stylesheet" type="text/css" href="{{https_url_for(request, 'static', fileName='returnPrimes.css')}}">
        <title>Prime Number Display</title>
    </head>
    <body>
        <table>
            <tr>
                <th>ID</th>
                <th>Prime</th>
                <th>Work Unit</th>
                <th>Time Created</th>
            </tr>
            {% for prime in primeNumberList %}
            <tr>
                <td>{{ prime[0] }}</td>
                <td>{{ prime[1] }}</td>
                <td>{{ prime[2] }}</td>
                <td>{{ prime[3] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>