.downloadLinks {
    display: flex;
    padding-top: 5px;
}

.downloadLinks * {
    display: block;
    margin-right: 5px !important;
}

.Search * {
    width: 0;
    flex: 1 1 0;
    background-color: var(--MenuHighlight);
    border: 0;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;

    margin-right: 5px !important;
}

.Search *:last-child {
    flex-grow: 0;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 0 !important;
}

.Search{
    display: flex;
    justify-content: space-between;
    margin-top: 5px !important;
}