* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input, select {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    background-color: var(--Background);
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    height: fit-content;
}

header {
    display: flex;
    width: auto;
    padding: 10px;
    background-color: var(--MenuBackground);
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
}

header div {
    flex: 0 0 fit-content;
}

header div h1{
    font-size: 2.2rem;
}
header div p{
    font-size: 0.8rem;
}

header * {
    margin: 0;
}

header > *:last-child{
    margin-left: 1rem;
}

#title {
    flex-grow: 1;
    font-size: 1.5rem;
    font-weight: bold;
}

#msg {
    text-decoration-line: underline;
    text-decoration-color: var(--ItemHighlight);
}

#time {
    border-width: 12px;
    border-radius: 5px;
    padding: 5px;
    color: #333;
    font-weight: bold;
    background-color: var(--ItemHighlight);
    text-align: center;
}

.card {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--MenuBackground);
    border-radius: 5px;
}

.card * {
    margin: 0;
}

a {
    padding-left: 2px;
    border: 1px solid transparent;
    background-color:transparent;
    font-size: medium;
    text-decoration: none;
    text-align: left;
    fill: white;
    color: white;
    display: block;
    display: flex;
    width: auto;
}

a:hover {
    fill: var(--ItemHighlight);
    color: var(--ItemHighlight);
    background-color: var(--MenuHighlight);
    border-radius: 5px;
    border: 1px solid var(--ItemHighlight);
}

a:active {
    fill: rgb(252, 255, 227);
    color: rgb(252, 255, 227);
    border: 1px solid rgb(252, 255, 227);
}

.submit {
    border: 1px solid transparent;
    background-color:transparent;
    font-size: medium;
    text-decoration: none;
    text-align: left;
    fill: white;
    color: white;
    display: block;
    display: flex;
    width: auto;
}

.submit:hover {
    fill: var(--ItemHighlight);
    color: var(--ItemHighlight);
    background-color: var(--MenuHighlight);
    border-radius: 5px;
    border: 1px solid var(--ItemHighlight);
}

.submit:active {
    fill: rgb(252, 255, 227);
    color: rgb(252, 255, 227);
    border: 1px solid rgb(252, 255, 227);
}

.Invisible {
    height: 0;
    background-color:transparent;
}

iframe {
    display: block;
    border-width: 0;
    margin: 2px;
    width: 100%;
    height: 1rem;
}