body{
    overflow: hidden;
}

#primes {
    list-style-position: inside;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
    height: calc(100vh - calc(20px + 3rem + 16px + 32px + 32px));
}

#primes * {
    color: var(--text)
}

#msg {
    text-decoration-line: underline;
    text-decoration-color: red;
}

#notice {
    text-align: center;
    margin-top: 16px;
}

#notice * {
    color: var(--text);
    margin: 0;
}

header {
    display: flex;
    padding: 10px;
    background-color: var(--MenuBackground);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

header div h1{
    font-size: 2.2rem;
}
header div p{
    font-size: 0.8rem;
}

header * {
    margin: 0;
    flex-grow: 1;
}

header *:last-child{
    flex-grow: 0;
}

#title {
    flex-grow: 1;
    font-size: 1.5rem;
    font-weight: bold;
}